<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="./static/js/script.js"></script>
    <title>Cart</title>
    <h1>Eday</h1>
    <h2>Cart!</h2>
    <button type="button" onclick="change('/')">Home</button>
    <button type="button" onclick="change('/product')">Product</button>
    <button type="button" onclick="change('/cart')">Cart</button>
</head>
<body>
    <h3>Most Stylish Pants Ever!!</h3>
    <img src="https://cf.shopee.ph/file/3ae76bb8ce33ea466bcf1ec87654a52b" width="300" height="300">
    <p>11.99$</p>
</body>
</html>