<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="./static/js/script.js"></script>
    <meta charset="UTF-8">
    <title>Home</title>
    <h1>Eday</h1>
    <h2>Home Page!</h2>
    <button type="button" onclick="change('/')">Home</button>
    <button type="button" onclick="change('/product')">Product</button>
    <button type="button" onclick="change('/cart')">Cart</button>
    <h2>Make The Best Version Of Yourself!</h2>
    <img src="https://ih1.redbubble.net/image.2474397779.7482/st,small,507x507-pad,600x600,f8f8f8.jpg" alt="Abibas logo" width="200" height="200">
    <img src="https://i.pinimg.com/1200x/60/1b/81/601b81c74112525956a8aace37e4dbcd.jpg" alt="Mike logo" width="200" height="200">
    <img src="https://www.logolynx.com/images/logolynx/ec/ec5b4def647ec061f06e2720f0449a6f.png" alt="Pump logo" width="200" height="200">
</head>
<body>
    <h2>With the best brands out there, you can create your own unique style!</h2>
    <img src="https://cdn.mukama.com/31812/formal-friday-ultrafine-merino-t-shirt-black.jpg" width="200" height="200">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPowB8JtaRSl24zosXDlvm50g-P3mS0ZQsBmKlbUoP_c2r48PJR7eFnN4M9BuI2EuD4ik&usqp=CAU" width="200" height="200">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZpeVFpCwL4FNDkwMy_1OEYcx80srTnSQRrA&usqp=CAU" width="200" height="200">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFhdXWq6A0gpdYgcTaN3pUQx4Rfgce3rJ0iQ&usqp=CAU" width="200" height="200">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZJe-S2KXQ1ZQBWKA9RbPv-nXqmIc1OtNGGA&usqp=CAU" width="200" height="200">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbRSAueGgriUJU6GDP4nOYskomD0W_o5mn8Q&usqp=CAU" width="200" height="200">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjunQB2l6L1AdNZ8v5hCjYhjjhswPSvuyXAg&usqp=CAU" width="200" height="200">
    <h3>A lot of quality products! cool, unique and cheap clothing!!</h3>

</body>

</html>